/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/

.container{
  
  display: flex;
  height: 100%;
  background: black;
  flex-wrap:nowrap;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
[class ^= "box-"]{
  height: 500px;
  width: 500px;
  
  background: skyblue;
  
  display: flex;
}
.box-1{
  height: auto;
  justify-content: center;
  background-color: black;
  color: white;
}
.box-2{
  flex-direction: column;
  /* width: 36.5%; */
  align-items: center;
  color: white;
  background: none;
  text-align: center;
  
  
}
.box-2 > iframe{
  height: 100%;
  width:605px;
  scroll-behavior:smooth;
  border: none;
  
}
.box-2 > h2{
  width: 100%;
  
  
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
