body{
    background-color: black;
    align-content: center;
}
div{
    border: solid 3px;
    padding: 1em;
    max-width: 100%;
    background-color: wheat;
    
}
div > div {
    background: black;
    max-width: 50%;
    align-self: center;
    text-align: center;
    color: white;
}
#graph {
    color: red;
    height: 200;
    font-family: 'roboto';
}